{% extends "orgQuinielaBundle::layout.html.twig" %}

{% block title %}orgQuinielaBundle:Inicio:index{% endblock %}

{% block navbar %}

	<ul>
	{% for item in usuarios if item.id != 999 %}
		<li><a href="{{ path('q_user', {'id':item.id })}}">{{ item.puntos }} - {{ item.nombre}}</a></li>
    {% endfor %}
    </ul>

{% endblock %}

{% block content %}
	<h2><a href="#">Clasificatoria</a></h2>
	<table class="resultados2" style="float: left;width:290px;margin-right:10px">
		{% for item in usuario.partidos if 49 > item.numPartido %}
			<tr>
			<td class="pos">{{ item.numPartido }}</td>
			<td width="90px">{{ item.fecha|date('j/m/Y h:i') }}</td>
			<td width="80px" style="text-align:right">{{item.paisHome.nombreCorto}} <img class="logo" style="vertical-align:middle"  height="10" width="15"src="{{ asset('bundles/orgquiniela/images/flags/')}}{{item.paisHome.bandera}}"></td>
			<td width="20px">{{item.homeScore}}</td>
			<td width="20px">{{item.vistScore}}</td>
			<td width="80px" style="text-align:left"><img class="logo" style="vertical-align:middle"  height="10" width="15"src="{{ asset('bundles/orgquiniela/images/flags/')}}{{item.paisVisitante.bandera}}"> {{item.paisVisitante.nombreCorto}}</td>
			</tr>

			{% if (loop.index % 24) ==  0 %}

			</table>
			<table class="resultados2" style="display:inline-block;width:290px">

			{% endif %}


		{% endfor %}		
	</table>

	<h2><a href="#">8vos de Final</a></h2>
	<table class="resultados">
		{% for item in usuario.partidos if 49 <= item.numPartido and item.numPartido < 57 %}


		<tr>
			<td class="pos">{{ item.numPartido }}</td>
			<td width="90px">{{ item.fecha|date(' l j/m/Y h:i') }}</td>
			<td width="80px" style="text-align:right">{{item.paisHome.nombre}} <img class="logo" style="vertical-align:middle"  height="10" width="15"src="{{ asset('bundles/orgquiniela/images/flags/')}}{{item.paisHome.bandera}}"></td>
			<td width="20px">{{item.homeScore}}</td>
			<td width="20px">{{item.vistScore}}</td>
			<td width="80px" style="text-align:left"><img class="logo" style="vertical-align:middle"  height="10" width="15"src="{{ asset('bundles/orgquiniela/images/flags/')}}{{item.paisVisitante.bandera}}"> {{item.paisVisitante.nombre}}</td>
		</tr>

		{% endfor %}		
	</table>

	<h2><a href="#">4tos de Final</a></h2>
	<table class="resultados">
		{% for item in usuario.partidos if 57 <= item.numPartido and item.numPartido < 61 %}


	
		<tr>
			<td class="pos">{{ item.numPartido }}</td>
			<td width="90px">{{ item.fecha|date(' l j/m/Y h:i') }}</td>
			<td width="80px" style="text-align:right">{{item.paisHome.nombre}} <img class="logo" style="vertical-align:middle"  height="10" width="15"src="{{ asset('bundles/orgquiniela/images/flags/')}}{{item.paisHome.bandera}}"></td>
			<td width="20px">{{item.homeScore}}</td>
			<td width="20px">{{item.vistScore}}</td>
			<td width="80px" style="text-align:left"><img class="logo" style="vertical-align:middle"  height="10" width="15"src="{{ asset('bundles/orgquiniela/images/flags/')}}{{item.paisVisitante.bandera}}"> {{item.paisVisitante.nombre}}</td>
		</tr>

		{% endfor %}		
	</table>


	<h2><a href="#">SemiFinal</a></h2>
	<table class="resultados">
		{% for item in usuario.partidos if 61 <= item.numPartido and item.numPartido < 63 %}



		<tr>
			<td class="pos">{{ item.numPartido }}</td>
			<td width="90px">{{ item.fecha|date(' l j/m/Y h:i') }}</td>
			<td width="80px" style="text-align:right">{{item.paisHome.nombre}} <img class="logo" style="vertical-align:middle"  height="10" width="15"src="{{ asset('bundles/orgquiniela/images/flags/')}}{{item.paisHome.bandera}}"></td>
			<td width="20px">{{item.homeScore}}</td>
			<td width="20px">{{item.vistScore}}</td>
			<td width="80px" style="text-align:left"><img class="logo" style="vertical-align:middle"  height="10" width="15"src="{{ asset('bundles/orgquiniela/images/flags/')}}{{item.paisVisitante.bandera}}"> {{item.paisVisitante.nombre}}</td>
		</tr>

		{% endfor %}		
	</table>



	<h2><a href="#">Tercer Lugar</a></h2>
	<table class="resultados">
		{% for item in usuario.partidos if 63 <= item.numPartido and item.numPartido < 64 %}


	<tr>
			<td class="pos">{{ item.numPartido }}</td>
			<td width="90px">{{ item.fecha|date(' l j/m/Y h:i') }}</td>
			<td width="80px" style="text-align:right">{{item.paisHome.nombre}} <img class="logo" style="vertical-align:middle"  height="10" width="15"src="{{ asset('bundles/orgquiniela/images/flags/')}}{{item.paisHome.bandera}}"></td>
			<td width="20px">{{item.homeScore}}</td>
			<td width="20px">{{item.vistScore}}</td>
			<td width="80px" style="text-align:left"><img class="logo" style="vertical-align:middle"  height="10" width="15"src="{{ asset('bundles/orgquiniela/images/flags/')}}{{item.paisVisitante.bandera}}"> {{item.paisVisitante.nombre}}</td>
		</tr>

		{% endfor %}		
	</table>

	<h2><a href="#">Final</a></h2>
	<table class="resultados">
		{% for item in usuario.partidos if 64 <= item.numPartido and item.numPartido < 65 %}


		<tr>
			<td class="pos">{{ item.numPartido }}</td>
			<td width="90px">{{ item.fecha|date(' l j/m/Y h:i') }}</td>
			<td width="80px" style="text-align:right">{{item.paisHome.nombre}} <img class="logo" style="vertical-align:middle"  height="10" width="15"src="{{ asset('bundles/orgquiniela/images/flags/')}}{{item.paisHome.bandera}}"></td>
			<td width="20px">{{item.homeScore}}</td>
			<td width="20px">{{item.vistScore}}</td>
			<td width="80px" style="text-align:left"><img class="logo" style="vertical-align:middle"  height="10" width="15"src="{{ asset('bundles/orgquiniela/images/flags/')}}{{item.paisVisitante.bandera}}"> {{item.paisVisitante.nombre}}</td>
		</tr>

		{% endfor %}		
	</table>

{% endblock %}
