{% extends "orgQuinielaBundle::layout.html.twig" %}

{% block title %}orgQuinielaBundle:Inicio:index{% endblock %}

{% block navbar %}

	<ul>
	{% for item in usuarios if item.id != 999 %}
		<li><a href="{{ path('q_user', {'id':item.id })}}">{{ item.puntos }} - {{ item.nombre}}</a></li>
    {% endfor %}
    </ul>

{% endblock %}

{% block content %}
	<h1>{{usuario.nombre}} - {{ usuario.puntos}}</h1>
	<h2><a href="#">Clasificatoria</a></h2>
	<table class="resultados">
		{% for item in usuario.partidos if item.numPartido < 49 %}


		<tr>
			<td class="pos">{{ item.numPartido }}</td>
			<td width="180px" style="text-align:right">{{ item.fecha|date(' l j/m/Y h:i') }}</td>
			<td width="160px" style="text-align:right">{{item.paisHome.nombre}} <img class="logo" style="vertical-align:middle"  height="10" width="15"src="{{ asset('bundles/orgquiniela/images/flags/')}}{{item.paisHome.bandera}}"></td>
			<td width="20px">{{item.homeScore2}}</td>
			<td width="20px">{{item.vistScore2}}</td>
			<td width="160px" style="text-align:left"><img class="logo" style="vertical-align:middle"  height="10" width="15"src="{{ asset('bundles/orgquiniela/images/flags/')}}{{item.paisVisitante.bandera}}"> {{item.paisVisitante.nombre}}</td>
			<td>{{ item.RealHome}}</td>
			<td>{{ item.RealVisitante}}</td>
			<td style="background-color:{{item.color}};">{{ item.puntaje}}</td>
		</tr>

		{% endfor %}		
	</table>


	<h2><a href="#">8vos de Final</a></h2>
	<table class="resultados">
		{% for item in usuario.partidos if 49 <= item.numPartido and item.numPartido < 57 %}


		<tr>
			<td class="pos">{{ item.numPartido }}</td>
			<td width="180px" style="text-align:right">{{ item.fecha|date(' l j/m/Y h:i') }}</td>
			<td width="160px" style="text-align:right">{{item.paisHome.nombre}} <img class="logo" style="vertical-align:middle"  height="10" width="15"src="{{ asset('bundles/orgquiniela/images/flags/')}}{{item.paisHome.bandera}}"></td>
			<td width="20px">{{item.homeScore2}}</td>
			<td width="20px">{{item.vistScore2}}</td>
			<td width="160px" style="text-align:left"><img class="logo" style="vertical-align:middle"  height="10" width="15"src="{{ asset('bundles/orgquiniela/images/flags/')}}{{item.paisVisitante.bandera}}"> {{item.paisVisitante.nombre}}</td>
			<td>{{ item.RealHome}}</td>
			<td>{{ item.RealVisitante}}</td>
			<td style="background-color:{{item.color}};">{{ item.puntaje}}</td>
		</tr>

		{% endfor %}		
	</table>

	<h2><a href="#">4tos de Final</a></h2>
	<table class="resultados">
		{% for item in usuario.partidos if 57 <= item.numPartido and item.numPartido < 61 %}


		<tr>
			<td class="pos">{{ item.numPartido }}</td>
			<td width="180px" style="text-align:right">{{ item.fecha|date(' l j/m/Y h:i') }}</td>
			<td width="160px" style="text-align:right">{{item.paisHome.nombre}} <img class="logo" style="vertical-align:middle"  height="10" width="15"src="{{ asset('bundles/orgquiniela/images/flags/')}}{{item.paisHome.bandera}}"></td>
			<td width="20px">{{item.homeScore2}}</td>
			<td width="20px">{{item.vistScore2}}</td>
			<td width="160px" style="text-align:left"><img class="logo" style="vertical-align:middle"  height="10" width="15"src="{{ asset('bundles/orgquiniela/images/flags/')}}{{item.paisVisitante.bandera}}"> {{item.paisVisitante.nombre}}</td>
			<td>{{ item.RealHome}}</td>
			<td>{{ item.RealVisitante}}</td>
			<td style="background-color:{{item.color}};">{{ item.puntaje}}</td>
		</tr>

		{% endfor %}		
	</table>


	<h2><a href="#">SemiFinal</a></h2>
	<table class="resultados">
		{% for item in usuario.partidos if 61 <= item.numPartido and item.numPartido < 63 %}



		<tr>
			<td class="pos">{{ item.numPartido }}</td>
			<td width="180px" style="text-align:right">{{ item.fecha|date(' l j/m/Y h:i') }}</td>
			<td width="160px" style="text-align:right">{{item.paisHome.nombre}} <img class="logo" style="vertical-align:middle"  height="10" width="15"src="{{ asset('bundles/orgquiniela/images/flags/')}}{{item.paisHome.bandera}}"></td>
			<td width="20px">{{item.homeScore2}}</td>
			<td width="20px">{{item.vistScore2}}</td>
			<td width="160px" style="text-align:left"><img class="logo" style="vertical-align:middle"  height="10" width="15"src="{{ asset('bundles/orgquiniela/images/flags/')}}{{item.paisVisitante.bandera}}"> {{item.paisVisitante.nombre}}</td>
			<td>{{ item.RealHome}}</td>
			<td>{{ item.RealVisitante}}</td>
			<td style="background-color:{{item.color}};">{{ item.puntaje}}</td>
		</tr>

		{% endfor %}		
	</table>



	<h2><a href="#">Tercer Lugar</a></h2>
	<table class="resultados">
		{% for item in usuario.partidos if 63 <= item.numPartido and item.numPartido < 64 %}


		<tr>
			<td class="pos">{{ item.numPartido }}</td>
			<td width="180px" style="text-align:right">{{ item.fecha|date(' l j/m/Y h:i') }}</td>
			<td width="160px" style="text-align:right">{{item.paisHome.nombre}} <img class="logo" style="vertical-align:middle"  height="10" width="15"src="{{ asset('bundles/orgquiniela/images/flags/')}}{{item.paisHome.bandera}}"></td>
			<td width="20px">{{item.homeScore2}}</td>
			<td width="20px">{{item.vistScore2}}</td>
			<td width="160px" style="text-align:left"><img class="logo" style="vertical-align:middle"  height="10" width="15"src="{{ asset('bundles/orgquiniela/images/flags/')}}{{item.paisVisitante.bandera}}"> {{item.paisVisitante.nombre}}</td>
			<td>{{ item.RealHome}}</td>
			<td>{{ item.RealVisitante}}</td>
			<td style="background-color:{{item.color}};">{{ item.puntaje}}</td>
		</tr>

		{% endfor %}		
	</table>

	<h2><a href="#">Final</a></h2>
	<table class="resultados">
		{% for item in usuario.partidos if 64 <= item.numPartido and item.numPartido < 65 %}


		<tr>
			<td class="pos">{{ item.numPartido }}</td>
			<td width="180px" style="text-align:right">{{ item.fecha|date(' l j/m/Y h:i') }}</td>
			<td width="160px" style="text-align:right">{{item.paisHome.nombre}} <img class="logo" style="vertical-align:middle"  height="10" width="15"src="{{ asset('bundles/orgquiniela/images/flags/')}}{{item.paisHome.bandera}}"></td>
			<td width="20px">{{item.homeScore2}}</td>
			<td width="20px">{{item.vistScore2}}</td>
			<td width="160px" style="text-align:left"><img class="logo" style="vertical-align:middle"  height="10" width="15"src="{{ asset('bundles/orgquiniela/images/flags/')}}{{item.paisVisitante.bandera}}"> {{item.paisVisitante.nombre}}</td>
			<td>{{ item.RealHome}}</td>
			<td>{{ item.RealVisitante}}</td>
			<td style="background-color:{{item.color}};">{{ item.puntaje}}</td>
		</tr>

		{% endfor %}		
	</table>



{% endblock %}
